<!--<div class="col-xs-8 col-xs-offset-2">-->
<!--  <form [formGroup]="form" (ngSubmit)="onSubmit()">-->
<!--    <div [formGroupName]="'user'">-->
<!--      <div class="form-group">-->
<!--        <label>Email</label>-->
<!--        <input type="text" class="form-control" ngModel name="email" formControlName="email">-->
<!--        <p *ngIf="form.get('user.email').errors['emailIsUsed']">Email is emailIsUsed</p>-->
<!--        <p *ngIf="form.get('user.email').errors['email']">Email is </p>-->


<!--        <button type="button" class="btn btn-primary">add Random Email</button>-->
<!--      </div>-->
<!--      <div class="form-group ">-->
<!--        <label>Password</label>-->
<!--        <input type="password" class="form-control" formControlName="pass">-->
<!--        <p *ngIf="form.get('user.pass').invalid && form.get('user.pass').touched">password must not be empty</p>-->
<!--      </div>-->

<!--    </div>-->
<!--    <div class="form-group ">-->
<!--      <label>Select Something</label>t-->
<!--      <select name="" id="" class="form-control" [ngModel]="defaultCountry" formControlName="country">-->
<!--        <option value="ru">Rus</option>-->
<!--        <option value="am">Arm</option>-->
<!--        <option value="uk">Ukr</option>-->
<!--      </select>-->
<!--    </div>-->
<!--    <div class="custom-radio" *ngFor="let ans of answers">-->
<!--      <label>-->
<!--        <input type="radio" [ngModel]="defaultAnswer" formControlName="answer" [value]="ans.type">{{ans.text}}-->
<!--      </label>-->
<!--    </div>-->
<!--    <button [disabled]="form.invalid" class="btn btn-success">Submit</button>-->
<!--  </form>-->

<!--</div>-->
<app-form-req></app-form-req>
